.stretch {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    margin: 0.5em;
}

footer {
    margin: 10px;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:visited {
    color: rgb(43, 172, 253);
}

a:hover {
    text-decoration: underline;
}

.reference {
    width: 250px;
    display: inline-block;
    padding: 5px;

}

