* {
    box-sizing: border-box;
}


/* 
CSS from https://dev.to/okonkwomandy/the-easiest-way-to-build-the-pinterest-layout-without-using-a-framework-3i0g
The masonry design
*/

main {
    background-image: url(https://images.unsplash.com/photo-1642077912812-6ff69ac639da?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    padding: 1em;
    border-radius: 1em;
}





.dark {
    background-color: black;
    color: white;
}

.light {
    color: black;
    background-color: white;
}

.bg {
    border: blue 10px solid;
}
